<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Link to FAVICO -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Pictures/favicon.png') }}">
    <!-- Link to STYLESHEET -->
    <link rel ="stylesheet" href="{{url_for('static',filename='css/mainstyle.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    
    {%block head%}

    <title>
        Title for project !!
    </title>
    
    {%endblock%}
</head>
<body>
    {%block body%}

    
      
    {%endblock%}
    <!-- ========== -->


<div class="Tree-background">

    <!-- ===========
     Bottom trees
     =========== -->

<div class="trees"></div>
<div class="trees" style="width: 350px; height: 300px; left: 10px;"></div>
<div class="trees" style="width: 350px; height: 300px; left: 0px;"></div>
<div class="trees"></div>
<div class="trees" style="width: 350px; height: 300px; left: 10px;"></div>
<div class="trees" style="width: 350px; height: 300px; left: 0px;"></div>
<div class="trees"></div>
<div class="trees" style="width: 350px; height: 300px; left: 100px;"></div>
<div class="trees" style="width: 350px; height: 300px; left: 200px;"></div>
<div class="trees" style="width: 350px; height: 500px; left: 300px;"></div>

</div>

<div class="grass-container"></div>
<div class="binny-Tree"></div>





</body>
</html>