{% extends '0-MainPageSetup.html' %}

{% block head %}
<title>Add Item</title>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='Pictures/favicon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
{% endblock %}



{% block body %}
<div class="welcome1">
    <h1>Add Item</h1>
</div>


<!-- ======================
     Add Items to Inventory
     ====================== -->
<form method="POST" class="kawaii-table">
    <!-- Keep player_id in the form so we know who owns the item -->
    <input type="hidden" name="player_id" value="{{ current_player.id }}">

    <label for="name">Name</label>
    <input name="name" placeholder="Item Name" required>

    <label for="category">Category</label>
    <input name="category" placeholder="Item Category" required>

    <label for="quantity">Quantity</label>
    <input name="quantity" type="number" min="1" placeholder="Item Quantity" required>


    <label for="unit">Unit</label>
    <input name="unit" type="" placeholder="g, lb, fl_oz" required>
     
    <label for="measurement_type">Measurement Type</label>
    <input name="measurement_type" type="" min="" placeholder="" required>

    <label for="quantity_grams">Quantity - grams</label>
    <input name="quantity_grams" type="" min="" placeholder="" required>
               
    <label for="quantity_ml">Quantity - ML</label>
    <input name="quantity_ml" type="" min="" placeholder="" required>
                
    <label for="purchase_date">Purchase Date</label>
    <input name="purchase_date" type="date" placeholder="Purchase Date" required>
    
    <label for="best_by">Best By</label>
    <input name="best_by" type="date" placeholder="Best by" required>
    
    <label for="raw_meat">Raw Meat</label>
    <input name="raw_meat" type="" min="" placeholder="" required>

    <label for="perishable">Perishable</label>
    <input name="perishable" type="" min="" placeholder="" required>
    
    <label for="opened">Opened</label>
    <input name="opened" type="" min="" placeholder="" required>
    
    <label for="donation_allowed">Donation Allowed</label>
    <input name="donation_allowed" type="" min="" placeholder="" required>
    
    <label for="decomposition_flag">Decomposition Flag</label>
    <input name="decomposition_flag" type="" min="" placeholder="" required>

    <label for="price">Price per Item</label>
    <input name="price" type="number" step="0.01" min="0" placeholder="Price per item" required>



    <button type="submit" class="text">Add</button>
</form>

<!-- ======================== -->

<br /><br />
<div class="images">
    <a href="javascript:history.back()">
        <img src="{{ url_for('static', filename='Pictures/BinnyBack.png') }}" alt="bot" class="binnybot">
    </a>
    <a href="/">
        <img src="{{ url_for('static', filename='Pictures/BinnyHome.png') }}" alt="homebot" class="binnyhome">
    </a>
</div>


{% endblock %}

