{% extends '0-MainPageSetup.html' %}


<!--
 {% block head %}
<title>Binny and Bloom.com</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
{% endblock %}
-->

{% block body %}
<div class="welcome1">
    <h1>Binny and Bloom.com</h1>
</div>

<div class="body">

    <!-- Profile Picture -->
    {% if current_player.profile_picture %}
    <center>
        <img src="{{ url_for('static', filename='profile_pics/' ~ current_player.profile_picture) }}" alt="Profile Picture" class="profile-pic">
    </center>
    {% endif %}
    <!--------------------->

    <p class="text">Player: <strong>{{ current_player.name }}</strong></p>
    <p class="text">Score: <strong>{{ current_player.score }}</strong></p>

    <center>
        <a href="{{ url_for('inventory_page') }}" class="text">
            <button type="submit" class="text">Check Inventory</button>
        </a>
        <a href="{{ url_for('add_item_page') }}" class="text">
            <button type="submit" class="text">Add to Inventory</button>
        </a>
        <a href="{{ url_for('userprofile') }}" class="text">
            <button type="submit" class="text">User Profile</button>
        </a>
        <a href="{{ url_for('scoreboard') }}" class="text">
             <button class="text">Scoreboard</button>
        </a>
        <a href="{{ url_for('logout') }}" class="text">
            <button type="submit" class="text">Logout</button>
        </a>
    </center>

</div>


{% endblock %}
