<div class="kuwaii_menu_row">
    <a href="{{ url_for('home_page') }}" class="text">
        <button type="submit" class="kawaii-lil-btn" width="25px">Home</button>
    </a>
    <a href="{{ url_for('inventory_page') }}" class="text">
        <button type="submit" class="kawaii-lil-btn" width="25px">Check Inventory</button>
    </a>
    <a href="{{ url_for('add_item_page') }}" class="text">
        <button type="submit" class="kawaii-lil-btn">Add to Inventory</button>
    </a>
    <a href="{{ url_for('userprofile') }}" class="text">
        <button type="submit" class="kawaii-lil-btn">User Profile</button>
    </a>
    <a href="{{ url_for('scoreboard') }}" class="text">
        <button class="kawaii-lil-btn">Scoreboard</button>
    </a>
    <a href="{{ url_for('dashboard') }}" class="text">
        <button type="submit" class="kawaii-lil-btn">Dashboard</button>
    </a>
    <a href="{{ url_for('logout') }}" class="text">
        <button type="submit" class="kawaii-lil-btn">Logout</button>
    </a>
</div>