{% extends 'SamplePageSetup.html' %}

{% block head %}
<title>Binny and Bloom.com</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
{% endblock %}

{% block body %}
<div class="SampleText">
    <!-- ===== Page Content ====== -->
    <h1>This is just a sample page</h1>
    <!-- ========================= -->
</div>


<!-- ===========
     Mouse trail
     =========== -->
<script>
document.addEventListener("mousemove", function (e) {
    const trail = document.createElement("img");
    trail.src = "{{ url_for('static', filename='Pictures/trail.png') }}";
    trail.className = "trail";
    trail.style.left = e.pageX + "px";
    trail.style.top = e.pageY + "px";

    document.body.appendChild(trail);

    setTimeout(() => {
        trail.style.opacity = "0";
    }, 10);

    setTimeout(() => {
        trail.remove();
    }, 600);
});
</script>
<!-- ========== -->


<div class="Tree-background">

    <!-- ===========
     Bottom trees
     =========== -->

<div class="trees"></div>
<div class="trees" style="width: 350px; height: 300px; left: 10px;"></div>
<div class="trees" style="width: 350px; height: 300px; left: 0px;"></div>
<div class="trees"></div>
<div class="trees" style="width: 350px; height: 300px; left: 10px;"></div>
<div class="trees" style="width: 350px; height: 300px; left: 0px;"></div>
<div class="trees"></div>
<div class="trees" style="width: 350px; height: 300px; left: 100px;"></div>
<div class="trees" style="width: 350px; height: 300px; left: 200px;"></div>
<div class="trees" style="width: 350px; height: 500px; left: 300px;"></div>

</div>

<div class="grass-container"></div>
<div class="binny-Tree"></div>




{% endblock %}



