
/* ==========================
   Main Body picture
========================== */

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    animation-duration: 3s;
    animation-name: slide-in;
}




/* ==========================
   Welcome Section
========================== */
.welcome1 {
    text-align: center;
    margin-bottom: 20px;
}

.welcome1 h1 {
    display: inline-block;                 
    font-size: clamp(40px, 10vw, 100px);   
    color: #4e8e00; /* medium gray text */

    overflow: hidden;                       
    
    white-space: nowrap;                    
    margin: 0 auto;
    letter-spacing: 0.05em;

    animation-duration: 3s;
    animation-name: slide-in;
}
   


  

@keyframes slide-in {
    from { 
        translate: 150vw 0;
        scale: 200% 1;
     }
    to { 
        translate: 0 0;
        scale: 100% 1; 
    }
}


/* Get anIMATion INSPirations from 
https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API/Using_the_Web_Animations_API
*/