{% extends 'HomePageSetup.html' %}

{% block head %}

<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
{% endblock %}}

{% block body %}

<div class="welcome1">
    <h1>Binny and Bloom.com</h1>
</div> 

<div class="welcome1">
    <h1>Login</h1>
</div>



<form method="POST" class="body">
    <label>Username</label>
    <input name="username" required>

    <label>Password</label>
    <input name="password" type="password" required>

    <button type="submit" class="text">Login</button>

    <div class="Register-Button">
        <div class ="CreateLab"><label>Dont have an account ? </label></div>
        <a href="/register" class="text-register">Create an account</a>
        </div>
</form>



<!-- ===========
     Mouse trail
     =========== -->
<script>
document.addEventListener("mousemove", function (e) {
    const trail = document.createElement("img");
    trail.src = "{{ url_for('static', filename='Pictures/trail.png') }}";
    trail.className = "trail";
    trail.style.left = e.pageX + "px";
    trail.style.top = e.pageY + "px";

    document.body.appendChild(trail);

    setTimeout(() => {
        trail.style.opacity = "0";
    }, 10);

    setTimeout(() => {
        trail.remove();
    }, 600);
});
</script>
<!-- ========== -->
{% endblock %}